{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
reset password
{% endblock title %}


{% block content %}
<div class="card mt-4 shadow col-9">
    <div class="card-header bg-success text-white shadow-sm "><b>reset your password</b></div>
    <div class="card-body">
        <form action="" method='POST'>
            {% csrf_token %}
            {{form|crispy }}
            <button type="submit" class="btn btn-success col-3">Save Password</button>


        </form>

    </div>
</div>
{% endblock content %}